body{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    margin-top: 150px;
   
    
    
}
#game-body{
    background-color: white;
    border: 2px solid orangered;
    width: 330px;
    height: 180px;
    
    
    
    
}
.button{
    margin: 5px;
    border: 2px solid orangered;
    font-size: medium;
    margin-top: 30px;

        

    



  
    
}
